@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>Add a flavor to @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select Flavor")
  @Html.DropDownList("FlavorId", "-select-")

  <input type="submit" value="Save" class="btn btn-outline-primary" />
}

<div class="flex">
  @Html.ActionLink("Back to Treats", "Index", "Treats", null, new { @class = "btn btn-outline-dark"})
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-outline-dark"})
</div>
