@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Add A Treat To @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.Label("Select Treat")
  @Html.DropDownList("TreatId", "-select-")

  <input type="submit" value="Save" class="btn btn-outline-primary" />
}

<div class="flex">
  @Html.ActionLink("Back to Flavors", "Index", "Flavors", null, new { @class = "btn btn-outline-dark"})
  @Html.ActionLink("Home", "Index", "Home", null, new {@class = "btn btn-outline-dark"})
</div>
