@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h2>Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" class="btn btn-outline-primary" />
}
<p>@Html.ActionLink("View All Flavors", "Index")</p>